/* ----------------------------------------------------------------------------------------------- */
/* GENERALE */
/* ----------------------------------------------------------------------------------------------- */
html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
  box-sizing: border-box;
}
ol, ul { list-style: none; }
html {
  background-color: #FFFFFF;
  font-family: Roboto, system-ui, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #272727;
  line-height: 1.5;
}
section { padding: 0 1rem; }

/* ----------------------------------------------------------------------------------------------- */
/* TITOLI */
/* ----------------------------------------------------------------------------------------------- */
/* Titolone */
h1 {
  font-size: 6rem;
  font-weight: 700;
  color: #B1A9D9;
}
/* Sottotitolone */
h2 {
  font-size: 3rem;
  font-weight: 300;
  color: #B1A9D9;
}
/* Titolo di Sezione */
h3 {
  font-size: 2rem;
  color: #8F3D83;
  padding: 10 0 3 0;
  font-weight: 300;
  margin-bottom: 1rem;
}
/* Sottotitolo di sezione */
h4 {
  font-size: 1.5rem;
  color: #B1A9D9;
  padding: 0 0 15 0;
  font-weight: 300;
}
/* ----------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */
/* GENERALE */
/* ----------------------------------------------------------------------------------------------- */
.container {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.center { text-align: center; }
/* ----------------------------------------------------------------------------------------------- */
/* SEZIONI */
/* ----------------------------------------------------------------------------------------------- */
.megasezione {
  border-top: 1px solid #ddd;
  padding-top: 1rem;
  padding-bottom: 2rem;
}
#studio { background-color: #eaeaea; }
#attivita { background-color: #eee; }
#istruttori { background-color: #F1f1f1; }
#galleria { background-color: #F5F5F5; }
#contatti { background-color: #FFFFFF; }
#contatti a {
  text-decoration: none;
  font-weight: 300;
}
/* ----------------------------------------------------------------------------------------------- */
/* FOOTER */
/* ----------------------------------------------------------------------------------------------- */
footer {
  border-top: 1px solid #eeeeee;
  padding: 20px 0;
  position: relative;
  font-size: 0.75rem;
  color: #777777;
  clear: both;
  text-align: center;
}
footer a {
  text-decoration: none;
  color: #777777;
}
.separator { margin-top: 10px; }
/* ----------------------------------------------------------------------------------------------- */
/* MAPPA */
/* ----------------------------------------------------------------------------------------------- */
.map { margin-top: 30px; }
.map iframe { width: 100%; }
/* ----------------------------------------------------------------------------------------------- */
/* CONTATTI */
/* ----------------------------------------------------------------------------------------------- */
.interactive {
  text-decoration: none;
  color: #000;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
}
.socialbutton { margin-bottom: 5px; }
.socialbutton a { color: inherit; }
#contatti a { color: inherit; }
.facebook:hover { color:#3d5b99; }
.mail:hover { color:red; }
.phone:hover { color:green; }
.address:hover { color:#B1A9D9; }
/* ----------------------------------------------------------------------------------------------- */
/* ISTRUTTORI */
/* ----------------------------------------------------------------------------------------------- */
#istruttori.griglia {}
#istruttori.colonna {}
#istruttori.istruttore {}
#istruttori.avatar {}
#istruttori.nome {}
#istruttori.titolo {}

/* ----------------------------------------------------------------------------------------------- */
/* ATTIVITA */
/* ----------------------------------------------------------------------------------------------- */
#cards {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;


}

.singola {
  flex: 50%;
  max-width: 50%;

}

.doppia {
  flex: 50%;
  max-width: 50%;
}

.card {

  background-color: #FFFFFF;
  padding: 1rem 1rem 1rem 0rem;
  margin: 1rem;


  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  flex-shrink: 0;
  align-items: center;




  border-radius: .5rem;
  border-radius: 3px;

  box-shadow: 0 20px 48px 0 rgba(0,0,0,.11),0 12px 24px 0 rgba(0,0,0,.08)!important;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.card.attivita {
  padding: 1rem;
}

.avatar {
  /*border-radius: 9999px;*/
  height: 6rem;
  border: 0px solid #272727;
  margin-right: 1.5rem;
}

.credenziali {
  flex-grow: 1;

}

.nome {
  max-width: 100%;
  font-weight: 600;
  font-size: 1.5rem;

}

.qualifica {
  max-width: 100%;

  margin-bottom: 2px;
  color: #6F808A;

}

.descrizione {
  max-width: 100%;
  font-size: 0.9rem;

}

#titolo {
  background-color: #272727;
  padding: 2rem 1rem;
}


#logo {

  display:block;
  margin-left:auto;
  margin-right:auto;
  width: 100px;


}




/* ----------------------------------------------------------------------------------------------- */
/* Galleria*/
/* ----------------------------------------------------------------------------------------------- */
.imagecolumn img {
  -o-transition:transform .3s;
  -ms-transition:transform .3s;
  -moz-transition:transform .3s;
  -webkit-transition:transform .3s;
  transition: transform .3s;
}

.imagerow {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;

}

/* Create four equal columns that sits next to each other */
.imagecolumn {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.imagecolumn img {
  margin-top: 8px;
  vertical-align: middle;
}

.imagecolumn img:hover {
  transform: scale(1.05);
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .imagecolumn {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .imagecolumn {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

/* ----------------------------------------------------------------------------------------------- */
/* Responsive layout - makes the two doppias stack on top of each other instead of next to each other */
@media only screen and (max-width: 1000px) {
  h1 { font-size: 4rem; }
  h2 { font-size: 2rem; }
  .container { max-width: 100%; }
  .doppia {
    flex: 100%;
    max-width: 100%;
  }

}

/* ----------------------------------------------------------------------------------------------- */
/* Responsive layout - makes the two doppias stack on top of each other instead of next to each other */
@media only screen and (max-width: 500px) {
  h1 { font-size: 4rem; }
  h2 { font-size: 2rem; }
  .container { max-width: 100%; }
  .doppia {
    flex: 100%;
    max-width: 100%;
  }
}
