/* ----------------------------------------------------------------------------------------------- */
/* GENERALE */
/* ----------------------------------------------------------------------------------------------- */
html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
  box-sizing: border-box;
}
/* ----------------------------------------------------------------------------------------------- */
ol, ul {
  list-style: none;
}
/* ----------------------------------------------------------------------------------------------- */
html {
  background-color: #272727;
  font-family: Roboto, system-ui, BlinkMacSystemFont, -apple-system,
  Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
  Droid Sans, Helvetica Neue, sans-serif;
  color: #272727;
  color: white;
  line-height: 1.5;
}
/* ----------------------------------------------------------------------------------------------- */
/*
section {
  padding: 0 1rem;
}
*/
/* ----------------------------------------------------------------------------------------------- */
.container {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}
/* ----------------------------------------------------------------------------------------------- */
.center { text-align: center; }
.justify { text-align: justify; }
/* ----------------------------------------------------------------------------------------------- */
.lightpink { color: #B1A9D9; }
.darkpink { color: #8F3D83; }
/* ----------------------------------------------------------------------------------------------- */
.black { background-color: #272727; }
.darkgray { background-color: #eaeaea; }
.mediumgray { background-color: #eee; }
.lightgray { background-color: #F1f1f1; }
.superlightgray { background-color: #F5F5F5; }
.white { background-color: #FFFFFF; }

#titolo { border-top: 0px solid #ddd; }
/* ----------------------------------------------------------------------------------------------- */
.bold { font-weight: 700; }
.regular { font-weight: 300; }
/* ----------------------------------------------------------------------------------------------- */
.huge { font-size: 6rem; }
.big { font-size: 3rem; }
.medium { font-size: 2rem; }
.small { font-size: 1.5rem; }
.normal { font-size: 1rem; }
/* ----------------------------------------------------------------------------------------------- */
.sezione {
  border-top: 1px solid #ddd;
  padding-top: 1rem;
  padding-bottom: 2rem;
}
/* ----------------------------------------------------------------------------------------------- */
#contatti a {
  text-decoration: none;
  font-weight: 300;
}


.flex {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
}

.card {
  color: #272727;
  border: solid #eaeaea 1px;
  border-radius: 12px;
  background: #FFF;
  min-height: 100px;

  flex: 0 49%;
  margin-bottom: 2%; /* (100-49*2)/2 */
  padding: 20px;
}

/*
.item2 {
  color: #272727;
  border-radius: 12px;
  border: solid #eaeaea 1px;
  background: #FFF;
  flex: 0 49%;
  min-height: 100px;
  // (100-49*2)/2
  margin-bottom: 2%;
  padding: 15px;
}
*/
.shadow {
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.zoom {
  transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
  transition: 0.3s;
}

.zoom:hover {
  /*transform: scale(1.05, 1.05);*/
}

.zoom.shadow:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* ----------------------------------------------------------------------------------------------- */
/* FOOTER */
/* ----------------------------------------------------------------------------------------------- */
#footer {
  border-top: 1px solid #eeeeee;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #777777;
}
#footer a {
  text-decoration: none;
  color: #777777;
}
#footer a:hover { color: #F5F5F5; }

.separatorsopra {
  margin-top: 10px;
}
.separatorsotto {
  margin-bottom: 20px;
}
.separatorsottosmall {
  margin-bottom: 10px;
}
.map {
  margin-top: 20px;
  border: 1px solid #eeeeee;
}
.map iframe { width: 100%; }
/* ----------------------------------------------------------------------------------------------- */
/* CONTATTI */
/* ----------------------------------------------------------------------------------------------- */
.interactive {
  text-decoration: none;
  color: #000;
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  transition: .3s;
}
.socialbutton { margin-bottom: 5px; }
.socialbutton a { color: inherit; }
#contatti a { color: inherit; }
.facebook:hover { color:#3d5b99; }
.mail:hover { color:red; }
.phone:hover { color:green; }
.address:hover { color:#B1A9D9; }
/* ----------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 900px) {

.container {
  max-width: 90%;

}

.card {
  flex: 0 100%;
  margin-bottom: 20px; /* (100-32*3)/2 */
  padding: 25px;
}

}

