/* ----------------------------------------------------------------------------------------------- */
/* GENERALE */
/* ----------------------------------------------------------------------------------------------- */
html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
  box-sizing: border-box;
}
/* ----------------------------------------------------------------------------------------------- */
ol, ul {
  list-style: none;
}
/* ----------------------------------------------------------------------------------------------- */
html {
  background-color: #272727;
  font-family: Roboto, system-ui, BlinkMacSystemFont, -apple-system,
  Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
  Droid Sans, Helvetica Neue, sans-serif;
  color: #272727;
  color: white;
  line-height: 1.5;
}
/* ----------------------------------------------------------------------------------------------- */
.container {
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  max-width: 35rem;
}

/* ----------------------------------------------------------------------------------------------- */
.center { text-align: center; }
.textalignement { text-align: left; }
/* ----------------------------------------------------------------------------------------------- */
.logopink {
  color: #836B89;
  color: #ac9bb0;
  color: #a18da5;
  color: #836B89;
  color: #8F3D83;
  color: #43475E;
  color: #555a77;
  color: #4a4f68;


   }
.lightpink { color: #B1A9D9; }
.darkpink { color: #8F3D83; }
/* ----------------------------------------------------------------------------------------------- */
.black { background-color: #272727; }
.white { background-color: #FFFFFF; }

#titolo { border-top: 0px solid #ddd; }

.bcolor0 { background-color: #eaeaea; }
.bcolor1 { background-color: #eee; }
.bcolor2 { background-color: #F1f1f1; }
.bcolor3 { background-color: #F5F5F5; }

/* ----------------------------------------------------------------------------------------------- */
.bold { font-weight: 700; }
.regular { font-weight: 300; }

/* ----------------------------------------------------------------------------------------------- */
.huge { font-size: 6rem; }
.big { font-size: 3rem; }
.medium { font-size: 2rem; }
.small { font-size: 1.5rem; }
.normal { font-size: 1rem; }
/* ----------------------------------------------------------------------------------------------- */
.sezione {
  border-top: 1px solid #ddd;
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: relative;
}

#galleria {
  border-top: 3px solid #FFF;
}

.header {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.bg-image {
  transform: scale(1.1,1.1);
  max-height: 600px;
  position: absolute;
  /* The image used */
  background-image: url("assets/sfondo6.jpg");

  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Full height */
  width: 100%;
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  z-index: 0;
}

.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(200,200,200, 0.75); /* Black w/opacity/see-through */
  font-weight: bold;
  border: 3px solid #f1f1f1;
  z-index: 2;
  padding: 20px;
  text-align: center;
  position: relative;
}

/* ----------------------------------------------------------------------------------------------- */
#contatti a {
  text-decoration: none;
  font-weight: 300;
}

.flex {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
}

.card {
  color: #272727;
  /*border: solid #eaeaea 1px;*/
  border-radius: 12px;
  background: #FFF;
  min-height: 100px;

  flex: 0 100%;
  margin-bottom: 20px; /* (100-32*3)/2 */
  padding: 25px;
}

.card2 {
  color: #272727;
  /*border: solid #eaeaea 1px;*/
  border-radius: 12px;
  background: #FFF;
  min-height: 100px;

  flex: 0 49%;
  margin-bottom: 2%; /* (100-49*2)/2 */
  padding: 20px;
}

.profileheader {

  display: flex;
  margin-bottom: 1.5rem;
  align-items: center;
}

.profilepicture {

    order: 0;
    margin-right: 1.5rem;
    margin-left: 0;

    display: inline-block;
    overflow: hidden;
    border-radius: 100%;
    line-height: 0;
    background-color: rgb(247, 247, 247);
    width: 96px;
    height: 96px;

    border: 1px solid #8F3D83;
}

.profilepicture img {
  width: 96px;
    height: 96px;
}

.profileheaderinfo {
  flex-grow: 1;
  min-width: 0;
}

.profilename {}

.profilebuttons {
  text-decoration: none;
  min-height: 24px;
}

.profilebuttons a {
  text-decoration: none;
  /*text-align: center;*/
  /*min-width: 24px;*/
  font-size: 1.7rem;
  margin-right: .375rem!important;
  margin-right: .7rem!important;
  display: inline-block!important;

  color:#272727;;
}

.profileinfo {}

.pwhatsapp:hover {
color:#8F3D83;
}

.pinstagram:hover {
  color:#8F3D83;
}

.pmail:hover {
  color:#8F3D83;
}

.shadow {
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.zoom {
  transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
  transition: 0.3s;
}

.zoom:hover {
  /*transform: scale(1.05, 1.05);*/
}

.zoom.shadow:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.galleriafoto {
 padding: 10px!important;
 border-radius: 0px!important;
}

.galleriafoto img {
  position: relative;
  width: 100%;

}

/* ----------------------------------------------------------------------------------------------- */
/* FOOTER */
/* ----------------------------------------------------------------------------------------------- */
#footer {
  border-top: 1px solid #eeeeee;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #777777;
}
#footer a {
  text-decoration: none;
  color: #777777;
}
#footer a:hover { color: #F5F5F5; }

.separatorsopra {
  margin-top: 10px;
}
.separatorsotto {
  margin-bottom: 20px;
}
.separatorsottosmall {
  margin-bottom: 10px;
}
.map {
  margin-top: 20px;
  border: 1px solid #eeeeee;
}
.map iframe { width: 100%; }
/* ----------------------------------------------------------------------------------------------- */
/* CONTATTI */
/* ----------------------------------------------------------------------------------------------- */
.interactive {
  text-decoration: none;
  color: #000;
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  transition: .3s;
}
.socialbutton {
  margin-bottom: 5px;
}
.socialbutton a { color: inherit; }
#contatti a { color: inherit; }
.facebook:hover { color:#3d5b99; }
.mail:hover { color:red; }
.phone:hover { color:green; }
.instagram:hover { color:#8F3D83; }
.address:hover { color:#B1A9D9; }
/* ----------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 85rem) {

.huge { font-size: 3rem; }
.big { font-size: 2rem; }
.medium { font-size: 1.5rem; }
.small { font-size: 1.25rem; }
.normal { font-size: 1rem; }

.container {
  max-width: 90%;
}

.logo {
  max-width: 20rem;
}

.card2 {
  flex: 0 100%;
  margin-bottom: 20px; /* (100-32*3)/2 */
  padding: 25px;
}

}

